<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <bean id="xstreamMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">
        <property name="autodetectAnnotations" value="true"/>
        <property name="aliases">
            <props>
                <!-- -->
            </props>
        </property>
    </bean>

    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManger">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="ObjectMapper"/>
            </bean>
            <bean class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
                <property name="marshaller" ref="xstreamMarshaller"/>
                <property name="unmarshaller" ref="xstreamMarshaller"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="contentNegotiationManger" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="true" />
        <property name="ignoreAcceptHeader" value="false" />
        <property name="defaultContentType" ref="jsonMediaType" />
        <property name="mediaTypes">
            <value>
                json=application/json
            </value>
        </property>
    </bean>

    <bean id="jsonMediaType" class="org.springframework.http.MediaType">
        <constructor-arg value="application"/>
        <constructor-arg value="json"/>
    </bean>
    
    <bean id="ObjectMapper" class="org.n52.restfulwpsproxy.serializer.WPSBeansObjectMapper" />
    
    <bean id="proxyBaseUrl" class="java.lang.String">
        <constructor-arg type="String" value="http://localhost:8080/RestfulWPSProxy/"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.n52.restfulwpsproxy.util.EndpointUtil.setProxyBaseUrl"/>
        <property name="arguments">
            <list>
                <ref bean="proxyBaseUrl"/>
            </list>
       </property>
    </bean>

</beans>