<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/web-services
            http://www.springframework.org/schema/web-services/web-services.xsd">

    <sws:annotation-driven />
    
    
    <bean id="WPSOperations" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
        <property name="schemaCollection">
            <bean class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">  
                <property name="inline" value="true" />  
                <property name="xsds">  
                    <list>  
                        <value>schemas/WPSOperations.xsd</value> 
                    </list>  
                </property>  
            </bean>  
        </property> 
        <property name="portTypeName" value="WPSMessagePort"/>
        <property name="serviceName" value="WPSOperations"/>
        <property name="locationUri" value="/endpoints"/>
    </bean>

</beans>